[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
coverage = "*"
coverage-badge = "*"
vcdvcd = "==2.1"
lark-parser = "*"

[requires]
python_version = "3.7"
