[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
build = "*"
coverage = "*"
coverage-badge = "*"
pylint = "*"

[packages]
pyDigitalWaveTools = "*"
pylibfst = "*"
lark-parser = "*"

[requires]
python_version = "3.7"
